
:root {
  --light1: rgb(251, 238, 218);
  --light2: rgb(211, 237, 211);
  --light3: rgb(200, 240, 249);
  --light4: rgb(217, 221, 222);
  --link-blue: rgb(22, 103, 168);
}

body {
  font-family: "Overpass", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: black;

  /* desert sky gradient */
  background: linear-gradient(
    to bottom,
    var(--light3),
    var(--light1),
    var(--light2),
    var(--light4)
  );
}

header {
  text-align: left;
  padding: .5rem 2%; 
}

header h1 {margin: 0;}

.roadsign {
  background: green;
  color: white;
  border-color: white;
  border: 4px solid;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.5px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.35);
}

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

main {
    padding: 0 2%;
    min-height: 20rem;
}

.pr1 label {
    display: block;
    padding-top: 1rem;
}

.pr1 .response {
    padding-top: 1rem;
}
.pr1 .features {
  padding-top: 2rem;
}

.pr1 input[type="text"],
.pr1 input[type="date"],
.pr1 input[type="submit"],
.pr1 select {
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    appearance: auto;
    box-shadow: 1px 1px 4px #999;
    box-sizing: border-box;
}

.pr1 input[type="radio"],
.pr1 input[type="checkbox"] {
    margin-right: 6px;
}
.pr1 span {
  font-style: italic;
}
.pr1 .largebox {
  border-radius: 6px;
  padding: .8rem;
  width: 96%;
  max-width: 400px;
  box-shadow: 1px 1px 4px #999;
}

.pr1 .submit {
  background-color: var(--light3);
  font-style: bold;
}

footer {
    padding: .5rem 2%;
    text-align: center;
}

.thanks {
  text-align: center;
}
