
/* Hide hamburger buttons on medium+ */
#menu, #menu2 {
  display: none;
}

/* Show nav containers on medium+ */
.header-nav,
.sort-nav,
.experience-nav {
  display: block;
}


/* Horizontal navigation */
.navigation,
.gas,
.exp {
  display: flex;
  flex-direction: row;

  gap: 2rem;
  list-style: none;
  padding: 0;
  background: none;
  justify-content: center;
  margin-top: 1rem;
}
.exp {
  flex-wrap: wrap
}
/* Nav links */
.navigation a,
.gas a,
.exp a {
  display: flex;
  color: white;
  padding: .5rem 1rem;
  text-decoration: none;
  background: var(--freeway);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.35);
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: auto;
}





