*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --light1: rgb(251, 238, 218);
  --light2: rgb(211, 237, 211);
  --light3: rgb(200, 240, 249);
  --light4: rgb(217, 221, 222);
  --link-blue: rgb(22, 103, 168);
  --sky:  rgb(200, 240, 249);
  --sun: rgb(244, 182, 193);
  --mountains: rgb(155, 169, 180);
  --hills: rgb(167, 184, 159);
  --freeway: rgb(78, 106, 88);
  --cactus: rgb(111, 138, 108);
  --text: rgb(33, 71, 30);
  --sign: #2e5d3b;
}

body {
  font-family: "Overpass", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: var(--text);
  

  /* desert sky gradient */
  background: linear-gradient(
    to bottom,
    var(--light3),
    var(--light1),
    var(--light2),
    var(--light4)
  );
}

img {
  max-width: 100%;
  height: auto;
}

/* HEADER: logo, title, hamburger in one row */
header {
  padding: 1rem 1rem 0 1rem;
}

.header-div {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin: 0;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.35);
  padding: 1rem;
} 

.logo {
  width: 70px;
  height: auto;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.35);
  border-radius: 50px;
  margin-right: 1rem;
  border: 0;
}

h1 {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  margin: 0;

}

/* hamburger */
#menu, #menu2 {
  display: inline-block;
  background: var(--sign);
  color: white;
  border-color: white;
  border: 4px solid;
  padding: .5rem;
  border-radius: 8px;
  font-weight: 700;
  line-height: 1.6;
  font-size: 1.5rem;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.35);
  height: 70px;
}

#menu::before, #menu2::before {
	content: "☰";
  padding: .3rem;
}

#menu.open::before, #menu2.open::before {
	content: "X";
  padding: .5rem;
}

#menu:hover, #menu2:hover {
  color: var(--sun);
}

.header-nav.open, .sort-nav.open {
  display: flex;
}

.header-nav, .sort-nav, .experience.nav{
  display: none;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.35);
  line-height: .8;
}

.header-nav a, .sort.nav a, .experience-nav a {
  display: flex;
  color: white;
  padding: 1rem;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  height: 3rem;        
  width: 100%;         
  box-sizing: border-box;
  background: var(--freeway);
  border-radius: 10px;
}

.header-nav li {
  width: 100%;
}

.gas-div, .experiences-div {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.navigation, .gas, .exp {
  display: flex; 
  flex-direction: column;
  color: white;
  padding: 1rem;
  list-style: none;
  cursor: pointer;
  background: var(--freeway);
  border-radius: 8px;
}

.sort-nav.open a {
  display: block;
  color: white;
  padding: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.header-nav a:hover, .sort-nav a:hover, .experience-nav a:hover{
	color: var(--sun);
  text-decoration: underline; 
}

.picture{
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.35);
}

.navigation a.active, .gas a.active, .exp a.active  {
  background: var(--cactus);
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 20rem;
  padding: 1rem;
}

.hero img {
  width: 100%;
  height: auto;
}

.roadSign, .hero-title {
  display: inline-block;
  background: var(--sign);
  color: white;
  border-color: white;
  border: 4px solid;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 0;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.35);
}

.shadow {
  margin: .5rem;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.35);
  padding: 1rem;
}

.weather-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.weather-card {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--cactus);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  background: rgba(255, 255, 255, 0.50);
  backdrop-filter: blur(6px);
}

.contribution label {
  padding-top: 1rem;
}

.contribution .response {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contribution input[type="text"],
.contribution input[type="email"],
.contribution .large-box,
.contribution select {
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .8rem;
    width: 100%;
    max-width: 400px;
    appearance: auto;
    box-shadow: 1px 1px 4px #999;
    box-sizing: border-box;
}

.contribution .option {
  padding-top: 1rem;
  margin-right: 6px;
}

.contribution span {
  font-style: italic;
}

.contribution .submit {
  display: block;
  border-radius: 6px;
  padding: .8rem;
  width: 100%;
  max-width: 400px;
  appearance: auto;
  box-sizing: border-box;
  background: rgb(0, 102, 218);
  color: white;
  border-color: white;
  border: 4px solid;
  font-weight: bold;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.35);
}

.gallery {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   gap: 1rem;
   margin-top: 1rem;
}

.station-card { 
    border-radius: 10px; 
    padding: 1rem;  
    display: flex; 
    flex-direction: column; 
    text-align: left;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.35);
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
}

.station-card img {
  max-width: 100px;
  height: auto;
  display: block;
  border-radius: 8px;
  border: none;
}

.experience {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.2);
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
}

.experience img {
  width: 120px;
  height: 120px;
  object-fit: cover;   /* crops image to fill square */
  border-radius: 8px; 
}

.visits {
	color: var(--text);
	font-weight: bolder;
	font-size: larger;
}


footer {
  text-align: center;
  
}

.thanks {
  text-align: center;
}