/* css for the basic layout */
* {
	margin: 0;
	padding: 0;
    
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto 1fr auto;
    font-family: acme, Arial, sans-serif;
}
header, footer {
    background: rgb(49, 49, 49); 
    color: white;
    padding: 1rem;
    text-align: center;
}
nav {
    background-color: black;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 1rem;
    color: white;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
}

.main-content {
    background-color: gray;
    padding: 1rem;
}