* {
	margin: 0;
	padding: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto 1fr auto;
    font-family: acme, Arial, sans-serif;
}
header, footer {
    background: rgb(49, 49, 49); 
    color: white;
    padding: 1rem;
    text-align: center;
    
}
#site-title {
    margin-bottom: 1rem;
}
nav {
    background-color: black;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 1rem;
    color: white;
    align-items: center;
}
a {
    color: lightblue;
}
a:hover {
    color: goldenrod;
    text-decoration: underline;
}
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
    text-align: center;
}
h1 {
    
    text-align: center;
    margin-top: 1rem;
    background-color: rgb(167, 212, 243);
    color: black;
}
.main-content {
    background-color: gray;
    padding: 1rem;
}
.card {
    padding: 1rem;
    outline: 2px solid goldenrod;
    
}

.wrapper1 {
    display: flex;
    align-items: center;
    gap: 20px;
}
img {
    width: 100px;
    border: 1px solid black
}
p {
    text-align: left;
}
h3, h2 {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    padding-bottom: 4px;
    margin-bottom: 10px;
    border-bottom: 1px solid goldenrod;
}
.webDev {
    
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    list-style: none;
    background-color: rgb(49, 49, 49);
    text-align: left;
    padding: 1rem;

}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;

}

