* {
	margin: 0;
	padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto 1fr auto;
}

header {
    background: rgb(49, 49, 49); 
    color: white;
    padding: 1rem;
    /* text-align: center; */
    border-radius: 10px;
}

h1 {
    text-align: center;
    border-radius: 10px;
    background-color: rgb(167, 212, 243);
    color: black;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
    border-radius: 10px;
	background: none;
    background-color: rgb(167, 212, 243);
	color: black;
	position: absolute;
	top: 1rem;
	right: 1.5rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

nav .navigation {
	display: flex;
	border-radius: 10px;
    flex-direction: column;
	justify-content: space-around;
	list-style: none;
	background-color: black;
	color: #fff;
}

.navigation a {
    display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: lightblue;
}

.navigation a:hover {
	color: goldenrod;
    text-decoration: underline;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.navigation.open a {
	display: block;
}

main { 
    padding: 1rem;
    background-color: rgb(167, 212, 243);
    text-align: center;
    border-radius: 10px;
}

h2 {
    margin: 0 auto;

    display: inline-block;
    padding-bottom: 4px;
}

.gallery {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   gap: 1rem;
}

.temple-card { 
    background: white; 
    border-radius: 10px; 
    padding: 1rem; 
    border: 1px solid #ccc; 
    display: flex; 
    flex-direction: column; 
    gap: 0.75rem; 
    text-align: left;
}

.temple-card img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  border: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px; 
    background: rgb(49, 49, 49); 
    color: white;
    padding: 1rem; 
}