

/* large view navigation ************************************/
@media (min-width: 37.5em) { 
	.gallery img { 
		width: 100%; 
		height: 250px; 
		object-fit: cover; 
		object-position: center; 
		display: block;
	 } 
	

	h2 {
		font-size: 2rem;
		/* text-align: center; */
	}

	#menu {
		display: none; 
		/* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

	.gallery img {
		width: 400px;
		height: 250px;
		object-fit: cover;
		object-position: center;
		display: block;
	}


}