body {
    font-family: 'Roboto', sans-serif;
}
header, main, footer {
    width: 640px;
    text-align: center;
    background-color: lightskyblue;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid darkblue;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
section {
    background-color: lightblue;
    padding: 5px;
}